body {
  background-color: #004643;
}

.name {
  color: #fffffe;
}

.icons a {
  color: #fffffe;
  text-decoration: none;
}

.link {
  background-color: #f9bc60;
}

.link a {
  color: #001e1d;
  text-decoration: none;
}
