body {
  background-color: #004643;
}

.name {
  color: #fffffe;
}

.icons a {
  color: #fffffe;
  text-decoration: none;
}

.link {
  background-color: #f9bc60;
}

.link a {
  color: #001e1d;
  text-decoration: none;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
}

.headshot {
  display: flex;
  align-items: center;
}
